.link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
  .link-item {
    height: 100px;
    text-align: center;
    line-height: 90px;
    border: 1px solid #ddd;
  }
}
