// z-index
$dropdown-zIndex: 1000;
$menu-zIndex: 2000;
$modal-zIndex: 3000;
$message-zIndex: 4000;

// font-size
$tiny-font-size: 12px;
$small-font-size: 14px;
$base-font-size: 14px;
$large-font-size: 16px;

// height
$tiny-height: 24px;
$small-height: 32px;
$base-height: 40px;
$large-height: 48px;
